.table {
  color: #666;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  max-width: 100%;
  width: 100%;
  .mutant-id {
    padding-left: 25px !important;
  }
  .mutant-icon {
    padding-right: 45px !important;
    text-align: center;
    img {
      margin-left: -45px;
    }
  }
  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td {
    border-bottom: 1px solid #ddd;
    line-height: 2;
    padding: 10px;
    vertical-align: top;
  }
  > thead > tr > th {
    border-bottom: 2px solid #ddd;
    font-size: 17px;
    text-align: left;
  }
}
