.table {
  color: #292b2c;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td {
    border-bottom: 1px solid #ddd;
    line-height: 2;
    padding: 11px;
    vertical-align: top;
  }
  > thead > tr > th {
    font-size: 18px;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .table {
    font-size: 12px;
    > thead > tr > th {
      font-size: 16px;
    }
  }
}
